html, body {
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.small-star {
    position: absolute;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background: rgb(15, 18, 74);
}

.medium-star {
    position: absolute;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    background: rgb(15, 18, 74);
}

.large-star {
    position: absolute;
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background: rgb(15, 18, 74);
}

.has-margin-15 {
    margin: 15px;
}

.has-margin-10 {
    margin: 10px;
}

.link-font {
    font-weight: 100;
    color: black;
}

.link-font:hover {
    opacity: 0.8;
    color: rgb(15, 18, 74);
}

.sky-gradient {
    background-color:  white;
   //background-image: linear-gradient(155deg, rgb(15, 18, 74) 0%, rgb(27, 35, 96) 16%, rgb(81, 91, 128) 42%, rgb(117, 131, 145) 58%, rgb(229, 227, 176) 100%);
}
